/*GENERAL*/
body {
  font-family: Montserrat, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}
br {
  display: none;
}
@media screen and (max-width: 900px) {
  br {
    display: block;
  }
}
h1 {
  font-size: 2.2rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  font-weight: 400;
}
a {
  color: #ff8f00;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
h3 a {
  font-size: 1rem;
}
a:hover {
  color: #80deea;
}

/*BACKGROUND AND NAVBAR*/
#background {
  width: 100vw;
  overflow: hidden;
}
#background-image {
  position: fixed;
  top: -12vh;
  left: -5vw;
  object-fit: contain;
  display: block;
  z-index: 0;
  background-color: #40c4ff;
}
@media screen and (max-width: 650px) {
  #background-image {
    height: 110vh;
    left: -1vw;
    top: -2vh;
  }
}
#navbar {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  padding: 1vw 0;
}
.nav-link {
  position: relative;
  left: 5vw;
  padding: 3vw 1vw;
}

/*WELCOME SECTION AND TEXT*/
.page {
  height: 100vh;
  position: relative;
  margin: 15vmin 0;
}
.transparent-blackstrip {
  width: 103vw;
  position: relative;
  left: -3vw;
  top: 15vmin;
  background-color: rgba(0, 0, 0, 0.7);
}
.container-box {
  z-index: 2;
  padding: 2vh 6vw 7vh 8vw;
}
.text {
  color: #ffca28;
  width: 80vw;
}

/*PROJECTS CONTAINER AND TILES*/
.blackstrip {
  width: 108vw;
  position: relative;
  left: -8vw;
  background-color: black;
}
.inner-flex-container {
  width: 88vw;
  display: flex;
  position: relative;
  left: 8vw;
  text-align: left;
  justify-content: space-between;
 }
@media only screen and (max-width: 650px) {
  .inner-flex-container {
    display: block;
  }
}
.tile {
  position: relative;
  padding: 2vh 0;
  width: 27vw;
  }
@media only screen and (max-width: 650px) {
  .tile {
    width: 75vw;
    padding: 2vh 2vw;
    margin: 2vh auto;
  }
}
.tile:hover {
  transform: scale(1.15);
  overflow: visible;
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
}
.icon {
  object-fit: cover;
  width: 27vw;
  height: 22vh;
  filter: contrast(180%) grayscale(100%) opacity(70%);
}
@media only screen and (max-width: 650px) {
  .icon {
    height: 13vh;
    width: 75vw;
    filter: contrast(150%) grayscale(100%) opacity(50%) sepia(90%);
  }
}
.icon:hover {
  filter: contrast(120%);
}

/*CONTACTS SECTION AND EXTERNAL LINKS*/
#contacts-section .inner-flex-container {
  justify-content: left;
  display: flex;
  padding: 1rem 0;
}
@media only screen and (max-width: 650px) {
  #contacts-section .inner-flex-container  {
    flex-wrap: wrap;
  }
}
.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 0.15rem solid #e65100;
  margin: .2rem;
  background-color: #ffe082;
  display: flex; 
}

.circle a {
  font-size: 1.4rem;
  text-align: center;     
  margin: auto;
}

